#container {
  display: block;
  margin-left: 190px;
  margin-right: 190px;
}
img.print {
  float: right;
}
#header {
  border-bottom: 5px solid grey;
}
#logo {
  float: left;
}
#social {
  float: right;
}
img.social {
  float: right;
}
#footer {
  border-top: 5px solid grey;
}
p {
  text-indent: 2em;
}
